.followers-container{
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.followers-title-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.followers-title{
  font-weight: 450;
  font-size: 12px;
}

.followers-link{
  font-size: 10px;
  color: gray;
  cursor: pointer;
}

.follower-images-container{
  display: flex;
  margin-top: 10px;
  overflow: auto;
  white-space: nowrap;
}

.follower-dp-div{
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}

.follower-dp {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.follower-dp-div .follower-dp-caption {
  font-size: 12px;
  padding-bottom: 4px;
  position: absolute;
  width: 60px;
  bottom: 0px;
  text-align:center;
  opacity:0.7;
  border-radius: 10px;
  background-image: linear-gradient(white, rgba(0,0,0,0));
}