


.main-content {
  margin-left: 160px;
  width: 60%;
}

.trending-blogs-title{
  font-weight: bold;
  font-size: 16px;
}

.cards-trending {
  display: flex;
  justify-content: space-between;
  /* width: 60%; */

}

@media only screen and (max-width:600px){
  .cards-trending {
    width: auto;
    flex-direction: column;
  }
}
