.right-side-container{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 20px;
  width: 30%;
  padding: 1.2rem;
  margin: 2rem 1.6rem;
  
}

@media only screen and (max-width:900px){
  .right-side-container{
    margin-left: 160px;
    width: 75%;
  }
}