

.search-bar-container input[type=text]{
  padding: 12px 12px 12px 38px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 14px;
  background-color: #fafafa;
  border-radius: 14px;
  background-image: url("../assets/icons/search.png");
  background-repeat: no-repeat;
  background-position:  10px center;
  width: 100%; 
}


@media only screen and (max-width:600px){
  .search-bar-container{
    width: 100%;
  }
}