.sidenav {
  height: 90%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  padding: 14px 0px 14px 14px;
  border-radius: 20px;
}
